/* https://coolors.co/35524a-4056f4-eeebd3-b36a5e-f7c548 */

section#intro {
    background-color: #b36a5e;
    color: #eeebd3;
    height: 100vh;
}

#intro h1 {
    font-size: 100px;
    animation: fadein ease-in 1s;
}

#intro h3 {
    margin-top: 20px;
    margin-bottom: 20px;

    opacity: 0;
    animation-name: fadein;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#intro code {
    font-size: 35px;
    opacity: 0;
    color: #f7c548;
    animation-name: fadein;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#intro #downArrow {
    font-size: 75px;
    position: absolute;
    bottom: 30px;
    color: #eeebd3;
    opacity: 0;
    animation-name: fadein;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#intro #downArroow:hover {
    color: #4056f4;
}

section#about {
    font-size: 45px;
    font-weight: 300;
    background-color: #f7c548;
    color: #eeebd3;
}

h3 {
    font-size: 60px;
}

p {
    font-size: 30px;
}
#tea {
    font-size: 100px;
}
#walk {
    font-size: 100px;
}

#yoga {
    font-size: 100px;
}

#bike {
    font-size: 100px;
}

#contact {
    background-color: #4056f4;
    color: #eeebd3;
    font-size: 45px;
    font-weight: 300;
    padding: 30px;
}

#contact a {
    color: #eeebd3;
}

#contact input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    background-color: #eeebd3;
}

#contact .btn {
    width: 100%;
    background-color: #f7c548;
    color: black;
    font-size: 30px;
}

#portfolio {
    background: #35524a;
    padding: 30px;
}

footer {
    background-color: black;
    color: #eeebd3;
    padding: 20px;
}

body {
    background-color: #01161e;
}

.navbar {
    background-color: #598392;
}

#project {
    background-color: #124559;
    color: white;
    padding: 20px;
}
